/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100vw;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-dialog {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* .modal .modal-dialog {
  width: 600px;
  background-color: #ffffff;
  border-radius: 15px 15px 0 15px;
  height: fit-content;
  max-height: 550px;
  overflow-y: auto;
  overflow-x: hidden;
} */

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid rgba(37, 197, 117, 0.822);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
