<!-- <div class="d-flex flex-column justify-content-between h-100 wrapper" [ngStyle]="{'background-image': getImageUrl()}">
    <h3 class="text-light">{{sectorTicker.name}}</h3>
    <div class="text-right border-none">
        <span class="badge" [ngClass]="getNumberHighlightClass()">
            {{sectorTicker.changePercent | formatPercent}}
        </span>
    </div>
</div> -->


<div *ngIf="!loadingData && stockInformation; else loadingTpl" class="flex flex-col justify-between p-4 bg-gray-100 w-full h-full">
    <div>
        <h3 class="text-base font-semibold text-gray-800 leading-none m-0">{{stockInformation?.globalQuote?.symbol | uppercase}}</h3>
        <p class="text-sm font-normal">{{stockInformation?.stockOverview?.Name}}</p>
    </div>

    <div>
        <p class="text-right text-sm">{{stockInformation?.globalQuote?.price | number:'1.2-2'}}</p>
        <p [appTextColor]="stockInformation!.globalQuote!.changePercent" class="text-right text-sm text-red-500">
            {{stockInformation?.globalQuote?.changePercent | percent:'1.2-2'}}
        </p>
    </div>
</div>

<ng-template #loadingTpl>
    <div class="flex w-full h-full items-center justify-center bg-gray-100">
        <app-loading-indicator></app-loading-indicator>
    </div>
</ng-template>