<!-- <div class="d-flex flex-column justify-content-between h-100 wrapper" [ngStyle]="{'background-image': getImageUrl()}">
    <h3 class="text-light">{{sectorTicker.name}}</h3>
    <div class="text-right border-none">
        <span class="badge" [ngClass]="getNumberHighlightClass()">
            {{sectorTicker.changePercent | formatPercent}}
        </span>
    </div>
</div> -->


<div class="flex flex-col justify-between p-4 bg-gray-100 w-full h-full">
    <div>
        <h3 class="text-base font-semibold text-gray-800 leading-none m-0">BNGO</h3>
        <p class="text-sm font-normal">Bionano Geonomics Inc</p>
    </div>

    <div>
        <p class="text-right text-sm">1.39</p>
        <p class="text-right text-sm text-red-500">+57.20%</p>
    </div>
</div>