<div class="market-news__wrapper">
    <div [ngStyle]="getBackgroundImgStyle('/assets/images/stock-img-1.jpg')"></div>

    <div class="market-news__content">
        <h4 class="content-title">Another Profitable Canadian Cannabis Producer: Greenway Greenhouse Posts First Results Since Market Debut</h4>
        <p class="content-description">Greenway ffgrwegreghrehreherhrehrehreherhre regherhrehreg rehrehreh rehgerherh erhrehrehr regherhrehregger
            hreherherhreher
        </p>
    </div>
</div>